#container {
    background: #FFF;
    width: 70%;
    margin: 25px auto;
    border-radius: .5%;
}

form {
    margin: 5%;
    width: 70%;
}

fieldset {
    border: 0px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
textarea {
    border: 1px solid #9645c1;
    display: block;
    margin: 10px auto;
    padding: 2%;
    width: 100%;
}

#submitButton {
    background: #902d80;
    padding: 15px 10px;
    float: left;
    cursor: pointer;
    margin-right: 15px;
    color: #fff;
}

#submitButton:hover {
    filter: brightness(115%);
}

#resetButton {
    background: #e24f2b;
    padding: 15px 10px;
    color: white;
    float: right;
    cursor: pointer;
}

#resetButton:hover {
    filter: brightness(115%);
}

#part-1 label:after {
    content: " *";
    color: red;
}

#part-2 label:after {
    content: " *";
    color: red;
}

textarea {
    resize: none;
    height: 130px;
}

/*Media Query */

@media all and (min-width: 0px) and (max-width: 320px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    #container {
        width: 90%;
        margin-top: 20%;
    }
    #resetButton {
        float: left;
    }
}

@media all and (min-width: 321px) and (max-width: 480px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    #container {
        width: 90%;
        margin-top: 13%;
    }
    #resetButton {
        float: left;
    }
}

@media all and (min-width: 481px) and (max-width: 568px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    #container {
        width: 90%;
        margin-top: 10%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    #container {
        width: 90%;
        margin-top: 7%;
    }
}
